*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    width: 1800px;
    background-color: #D3D3D3;
}

.title{
    font-size: 60px;
    font-style: italic;
    font-weight: normal;
}

.main-container{
    display: flex;
    align-items: center;
    width: 1800px;
    height: 900px;
}

.calculator-container{
    display: flex;
    justify-content: center;
    width: 50%;
}

.todolist-container{
    display: flex;
    justify-content: center;
    width: 50%;
}

.calculator-button, .todolist-button{
    width: 300px;
    height: 160px;
    font-size: 40px;
    border-radius: 40px;
    font-style: italic;
    border: 0ch;
    background-color: #D3D3D3;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.3),
    0px 6px 15px rgba(0, 0, 0, 0.2);
}

.calculator-button:active, .todolist-button:active{
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.3),
    0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
}